<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WsAdminBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="WsAdminBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.five9.com/wsadmin/AdminWebService"
                binding="basicHttpBinding" bindingConfiguration="WsAdminBinding"
                contract="Five9.CFG.WsAdmin" name="WsAdminPort" />
        </client>
    </system.serviceModel>
</configuration>